@import "@/styles/base/variables";
@import "@/styles/base/extends";

.popupBG {
    @extend %popup-area;

    .mainShow {
        width: 35vw;
        height: 30vh;
        display: flex;
        padding: 20px;
        align-items: center;
        @extend %popup-mainShow;

        .title {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $mainColor ;
            font-size: 20px;

            a {
                font-size: 25px;
                color: $mainColorRed;
                cursor: pointer;
            }
        }

        .inputArea {
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            
            .donloadicon{
                position: absolute;
                width: 60px;
                height: auto;
            }


            input {
                font-size: 20px;
                padding: 0 20px;
                width: 30%;
                height: 120px;
                border-radius: 20px;
            }
            p{
                margin: 10px;
            }
        }

        .showStep {
            width: 90%;
            border-top: 1px solid $mainColor;
            @extend %flex-center;
            padding: 10px 0;
            font-size: 20px;

            p {
                line-height: 32px;
                text-align: center;
            }

            a {
                font-size: 32px;
                @extend %flex-center;
            }
        }
    }
}