@charset "utf-8";

/* ------------------- */
/* html, body          */
/* ------------------- */
html, body{
    font-family: 'Noto Sans TC', sans-serif;
    color: #6F828A;
    background: #ddd;
    
}

/*---------------------------*/
div.container{
    width: 800px;
    height: 600px;
    margin: 10px auto 0 auto;
    background: #ffffff;
    border-radius: 10px 10px 0 0;
}
div.header{
    padding: 10px 50px 0 50px;    
    line-height: 30px;
}

div.content{
    display: flex;
    justify-content: center;  
    text-align: justify;    /* 左右對齊 */
    font-style: normal;
    padding-top: 30px;
    /* background: #F4F5F5; */
}

.divider {
    margin: auto;
    width: 720px;
    height: 1px; /* 分割線的高度 */
    background-color: #000; /* 分割線的顏色 */
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); /* 添加陰影 */
    position: relative;
}

.circle-before{
    width: 5px; /* 圓形直徑 */
    height: 5px; /* 圓形直徑 */
    border-radius: 50%; /* 使其變成圓形 */
    background-color: #000; /* 圓形的顏色 */
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); /* 添加陰影 */
    position: relative;
    top: -1.8px;
    left: -1px;
}

.circle-after {
    width: 5px; /* 圓形直徑 */
    height: 5px; /* 圓形直徑 */
    border-radius: 50%; /* 使其變成圓形 */
    background-color: #000; /* 圓形的顏色 */
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); /* 添加陰影 */
    position: absolute; /* 設置為絕對定位 */
    top: -1.8px; /* 垂直置中 */
    right: -1px; /* 在分割線的右邊位置 */
}



div.form{
    padding: 10px 20px;
    margin: 10px 0;
}

div.form span{
    height: 40px;
    line-height: 40px;
}

div.form select{
    height: 27px;
    line-height: 40px;
}

div.form span.name{
    width: 80px;
    display: inline-block;
    text-align: right;
    padding-left: 5px;	
    
}




span.name{
    width: 100px;
    display: inline-block;
    text-align: left;
    margin: 15px 50px 15px 30px; /* 學號距離左邊隔 20px */
}



/* 使用者名稱部分的背景色 */
div.user-info {
    background-color: #F4F5F5;
    width: 553px; /* 設定寬度 */
    height: 60px; /* 設定高度 */
    margin-bottom: 15px;
    border-radius: 10px 10px 10px 10px; /* 圓角設置為右側 10px */
}

/* 輸入框 */
input{
    border: none; /* 移除邊框 */
    background-color: transparent; /* 將輸入框的背景色設置為透明 */
    padding: 0; /* 移除填充 */
    font-size: medium;
    color: #6F828A;
    border-bottom: 1.3px solid #6F828A; /* 添加底線 */
}

input:focus {
    outline: none; /* 移除 focus 時的邊框 */
}

select{
    width: 350px;
    font-size: medium;
    border: none; /* 移除邊框 */
    background: transparent; /* 將輸入框的背景色設置為透明 */
    color: #6F828A;
}

select:focus {
    outline: none; /* 移除 focus 時的邊框 */
}

div.footer{
    width: 800px;
    height: 100px;
    margin: 0 auto 0 auto;
    background: #ffffff;
    border-radius: 0 0 10px 10px ;
}