@import "@/styles/base/variables";
@import "@/styles/base/extends";

.popupBG {
    @extend %popup-area;

    .mainShow {
        width: 40vw;
        height: 40vh;
        @extend %flex-center;
        @extend %popup-mainShow;

        .icon {
            font-size: 10vw;
            animation: shakeUpDown 0.5s infinite alternate;
        }

        h3 {
            margin-top: 20px;
            font-size: 24px;
        }
    }
}

@keyframes shakeUpDown {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-20px);
    }
}