@import "@/styles/base/variables";
@import "@/styles/base/extends";

.listArea {
    @extend %list-area;
    letter-spacing: 5px;
    color: $mainColor;
    h2 {
      color: $mainColor;
      font-size: 24px;
      font-weight: bold;
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid $mainColor;
    }

    .aboutArea{
        padding: 3%;
        border-bottom:1px solid $mainColor ;
        .setingList{
            letter-spacing: 2px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 3%;
            .content{
                display: flex;
                align-items: center;
                width: 85%;
                height: 4vh;
                padding: 10px 20px;
                background-color: $subColor;
                border-radius: 10px;
                h3{
                    width: 20%;
                    font-weight: bold ;
                }
                p{
                    width: 60%;
                    text-align: center;
                }
            }
            .contentShort{
                display: flex;
                align-items: center;
                width: 35%;
                height: 4vh;
                padding: 10px 20px;
                background-color: $subColor;
                border-radius: 10px;
                h3{
                    font-weight: bold ;
                }
                p{
                    width: 60%;
                    text-align: center;
                }
            }
            a{
                width: 3vh;
                height: 3vh;
                padding: 10px;
                border-radius: 10px;
                background-color: $subColor;
                @extend %flex-center;
                cursor: pointer;
                &:hover{
                    color: white;
                    background-color: $mainColorLight;;
                    box-shadow: 1px 2px 1px 1px $mainColorLight ;
                }
            }
        }
        .setingTeacher{
            letter-spacing: 2px;
            display: flex;
            justify-content: space-around;
            .contentTeacher{
                display: flex;
                flex-direction: column;
                width: 85%;
                height: 25vh;
                padding: 10px 20px;
                background-color: $subColor;
                border-radius: 10px;
                h3{
                    width: 20%;
                    font-weight: bold ;
                }
                div{
                    display: flex;
                    padding: 10px;
                    p{
                        font-size: $smallSize;
                        margin:  0 5px;
                        padding: 10px 20px;
                        border-radius: 20px;
                        width: fit-content;
                        background-color: $mainColor;
                        color: white;
                        text-align: center;
                    }
                }
            }
            a{
                width: 3vh;
                height: 3vh;
                padding: 10px;
                border-radius: 10px;
                background-color: $subColor;
                @extend %flex-center;
                cursor: pointer;
                &:hover{
                    color: white;
                    background-color: $mainColorLight;
                    box-shadow: 1px 2px 1px 1px $mainColorLight ;
                }
            }
        }
    }

    .setingButton{
        padding-top: 10px;
        @extend %flex-center;
        .button{
            @extend %flex-center;
            height: 50px;
            width: 50px;
            border-radius: 100px;
            margin: 0 10px;
            cursor: pointer;
        }
        .delete{
            height: 40px;
            width: 40px;
            color: $mainColorRed;
            border: 2px solid $mainColorRed;
            &:hover{
                border: 0;
                color: white;
                box-shadow: 1px 1px 10px 3px $mainColorRed ;
                border: 2px solid $mainColorRed;
                background-color: $mainColorRed;
            }
        }
        .check{
            border: 2px solid $mainColor;
            &:hover{
                border: 0;
                color: white;
                box-shadow: 1px 1px 10px 3px $mainColorGreen ;
                border: 2px solid $mainColor;
                background-color: $mainColor;
            }
        }
    }
}  