@import "@/styles/base/variables";
@import "@/styles/base/extends";

.addArea {
  @extend %list-area;
  letter-spacing: 5px;
  color: $mainColor;

  h2 {
    color: $mainColor;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid $mainColor;
  }

  .add {
    padding: 10px;
    border-bottom: 1px solid $mainColor ;

    .setingArea {
      width: 100%;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .addInput {
        width: 100%;
      }

      .contentShort {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .shortInput {
          width: 48%;
          height: 50px;
          .people{
            font-size: 18px;
            padding-left: 3%;
            padding-top: 1%;
            height: 97%;
            width: 96%;
            margin: 0;
            border: 1px solid rgba(0, 0, 0, 0.23);
            border-radius: 4px;
          }
        }
      }

      a {
        width: 3vh;
        height: 3vh;
        padding: 10px;
        border-radius: 10px;
        background-color: $subColor;
        @extend %flex-center;
        cursor: pointer;

        &:hover {
          color: white;
          background-color: $mainColorLight;
          ;
          box-shadow: 1px 2px 1px 1px $mainColorLight ;
        }
      }
    }
  }

  .setingButton {
    padding-top: 10px;
    @extend %flex-center;

    .button {
      @extend %flex-center;
      height: 50px;
      width: 50px;
      border-radius: 100px;
      margin: 0 10px;
      cursor: pointer;
    }

    .delete {
      height: 40px;
      width: 40px;
      color: $mainColorRed;
      border: 2px solid $mainColorRed;

      &:hover {
        border: 0;
        color: white;
        box-shadow: 1px 1px 10px 3px $mainColorRed ;
        border: 2px solid $mainColorRed;
        background-color: $mainColorRed;
      }
    }

    .check {
      border: 2px solid $mainColor;

      &:hover {
        border: 0;
        color: white;
        box-shadow: 1px 1px 10px 3px $mainColorGreen ;
        border: 2px solid $mainColor;
        background-color: $mainColor;
      }
    }
  }
}