@import "@/styles/base/variables";
@import "@/styles/base/extends";

.listArea {
  @extend %list-area;

  h2 {
    color: $mainColor;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid $mainColor;
  }

  .dropdownArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

    .drop {
      border-radius: 20px;
    }

    a{
      transition: 0.4s;
      height: 25px;
      width: 25px;
      padding: 10px;
      border-radius: 10px;
      margin-right: 30px;
      font-size: 25px;
      color: $mainColor;
      &:hover{
        transition: 0.4s;
        color: $mainColor;
        background-color: $mainColorGreen;
        box-shadow: 1px 1px 4px 1px rgb(206, 206, 206);
      }
    }
  }

  .projectList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    height: 75%;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid black;
    @extend %flex-center;

    .projectItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      height: 9vh;
      padding: 10px;
      color: $mainColor;
      transition: 0.4s;

      article {
        @extend %flex-center;


        .projectLogo {
          @extend %flex-center;
          width: 50px;
          height: 50px;
          background-color: $mainColorLight;
          border-radius: 100%;
          color: white;
        }

        .projectContent {
          letter-spacing: 3px;

          b {
            font-weight: bold;
            margin: 5px;
          }

          p {
            margin: 5px;

            span {
              font-weight: bold;
              text-decoration: underline;
            }
          }
        }
      }

      .projectAbout {
        display: flex;
        flex-direction: column;
        .projectButton {
          display: flex;
          justify-content: end;

          a {
            color: $mainColor;
          }

          .projectSet {
            border-radius: 5px;
            font-size: 20px;
            height: 20px;
            padding: 5px;
            margin-right: 15%;
            margin-bottom: 5%;
            display: flex;
            justify-content: end;
            transition: 1s;

            &:hover {
              color: white;
              transition: 0.5s;
              background-color: $mainColor;
            }
          }

          .projectDel {
            border-radius: 5px;
            color: $mainColorRed;
            font-size: 20px;
            height: 20px;
            padding: 5px;
            display: flex;
            justify-content: end;
            transition: 1s;

            &:hover {
              color: white;
              transition: 0.5s;
              background-color: $mainColor;
            }
          }

        }
      }

      &:hover {
        transition: 0.4s;
        background-color: $mainColorGreen;
      }
    }

    hr {
      width: 100%;
      height: 1px;
      background-color: #00000015;
      border:none;
    }
  }

  .projectPage {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid black;
    @extend %flex-center;
  }
}