%flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
%list-area{
  width: 55vw;
  height: 85vh;
  background-color: white;
  margin-top: 8vh;
  border-radius: 20px;
  padding: 30px 50px 10px;
}