// color variables
$fontColor: #D9D9D9;
$fontColorWhite: #FFF;
$mainColor: #475F69;
$mainColorLight: #6591a4;
$subColor: #F4F5F5;
$mainColorGreen: #CCE3DE;
$mainColorRed: #C83E4D;
// font size
$mediumSize: 20px;
$regularSize: 15px;
$smallSize: 12px;