@import "@/styles/base/variables";
@import "@/styles/base/extends";

.navbar {
  position: fixed;
  z-index: 9;
  background-color: rgb(230, 230, 230);
  height: 6vh;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .buttonList {
    display: flex;
    align-items: center;
    height: 100%;

    .navLogo {
      height: 4vh;
      width: auto;
      margin: 0 5vw;
    }

    .button {
      display: flex;
      align-items: center;
      color: $mainColor;
      height: 100%;

      li {
        @extend %flex-center;
        width: 7vw;
        height: 100%;
        font-weight: bold;
        border-left: 1px solid $fontColor;

        a {
          color: $mainColor;
          height: 100%;
          width: 100%;
          line-height: 6vh;
          text-align: center;
        }

        &:last-child {
          border-right: 1px solid $fontColor;
        }

        &:hover {
          background-color: $mainColorLight;
          transition: 0.2s;

          a {
            color: white;
          }
        }
      }
    }
  }

  .right {
    background-color: $mainColor;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .triangleArea {
      width: 80px;
      height: 100%;
      position: relative;

      .lTriangle {
        position: absolute;
        width: 0;
        bottom: 0px;
        right: 50px;
        border-style: solid;
        border-width: 0 30px 5vh 30px;
        border-color: transparent transparent $fontColor transparent;
      }

      .rTriangle {
        position: absolute;
        width: 0;
        height: 0;
        right: 15px;
        border-style: solid;
        border-width: 5vh 30px 0 30px;
        border-color: $fontColor transparent transparent transparent;
      }
    }

    .buttonArea {
      @extend %flex-center;

      .linkUser {
        @extend %flex-center;
        background-color: rgba(255, 255, 255, 0.3);
        height: 50%;
        padding: 5px 20px;
        border: 1px solid white;
        border-radius: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: $fontColorWhite;
        margin-right: 25px;
        transition: 0.5s;

        &:hover {
          box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.4);
          transition: 0.5s;
          background-color: rgba(255, 255, 255, 0.85);
          color: $mainColor;
        }

        img {
          height: 100%;
          width: auto;
          border-radius: 100%;
          margin-right: 15px;

        }
      }

      .linkLogout {
        @extend %flex-center;
        background-color: rgba(255, 255, 255, 0.3);
        height: 30%;
        padding: 5px 10px;
        border: 1px solid white;
        transition: 0.5s;
        border-radius: 10px;
        font-weight: bold;
        color: $fontColorWhite;
        font-size: 20px;
        margin-right: 25px;

        &:hover {
          box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.4);
          transition: 0.5s;
          background-color: $mainColorRed;
        }
      }
    }
  }
}